/*product catalogue*/

#productCatalogue {
  background-color: black;
}

.prosuctCatalogue-wrapper {
  width: 95%;
  margin: 0 auto;
}

.prosuctCatalogue-wrapper h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.bottle-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/*lid section*/

#lids {
  margin: 50px 0;
}

.lids-wrapper {
  width: 95%;
  margin: 0 auto;
}

.lid-card {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.lid-card-left > * {
  margin-bottom: 15px;
}

.lid-card-left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #d7d7d7;
}

.lid-card-left h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.lid-card-left button {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 16px 32px;
  background: #f4f7fa;
  border-radius: 500px;
}

.lid-card-right img {
  width: 300px;
  height: 350px;
  margin-top: 30px;
}

.lid-carousel h1 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #050505;
}

/*Probe section*/

#probes {
  margin: 50px 0;
}

.probes-wrapper {
  width: 95%;
  margin: 0 auto;
}

.probe-card {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.probe-card-left > * {
  margin-bottom: 15px;
}

.probe-card-left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #d7d7d7;
}

.probe-card-left h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.probe-card-left button {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 16px 32px;
  background: #f4f7fa;
  border-radius: 500px;
}

.probe-card-right img {
  width: 300px;
  height: 350px;
  margin-top: 30px;
}

.probe-carousel h1 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #050505;
}

/*vials section*/
#vials {
  margin: 50px 0;
}

.vials-wrapper {
  width: 95%;
  margin: 0 auto;
}

.vial-card {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.vial-card-left > * {
  margin-bottom: 15px;
}

.vial-card-left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #d7d7d7;
}

.vial-card-left h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.vial-card-left button {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 16px 32px;
  background: #f4f7fa;
  border-radius: 500px;
}

.vial-card-right img {
  width: 300px;
  height: 350px;
  margin-top: 30px;
}

.vial-carousel h1 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #050505;
}

/*lids Page*/

#lidsPage {
  background-color: #000000;
  padding: 70px 0;
}

.lidsPage {
  width: 90%;
  margin: 0px auto;
}

.lid-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lid-top img {
  width: 500px;
  height: 700px;
}

.lid-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.lid-card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #d7d7d7;
  color: black;
  border-radius: 5px;
}

.readBtn{
  background-color: rgb(2, 0, 134);
  font-weight: 700;
  padding: 5px 35px;
  border-radius: 10px;
  color: whitesmoke;
}

.readBtn:hover{
  background-color: blue;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/*probes page*/

#probesPage {
  background-color: #000000;
  padding: 70px 0;
}

.probesPage {
  width: 90%;
  margin: 0px auto;
}

.probe-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.probe-top img {
  width: 500px;
  height: 700px;
}

.probe-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.probe-card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/*vials page*/

#vialsPage {
  background-color: #000000;
  padding: 70px 0;
}

.vialsPage {
  width: 90%;
  margin: 0px auto;
}

.vial-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.vial-top img {
  width: 500px;
  height: 700px;
}

.vial-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.vial-card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/*Details*/

#detail{
   background-color: black;
   color: whitesmoke;
}

.detail{
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.detailCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detailTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailTop img{
  width: 400px;
  height: 350px;
}

.detailTop p{
  width: 400px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  padding: 20px 0;
}

.detailBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.buy{
  background-color: rgb(43, 184, 43);
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 10px;
  color: white;
  width: 50%;
}

.buy:hover{
  background-color: green;
}

.detailBtn .update{
  background-color: rgb(0, 192, 250);
  font-weight: 700;
  padding: 5px 35px;
  border-radius: 10px;
}

.detailBtn .update:hover{
  background-color: dodgerblue;
}

.detailBtn .delete{
  background-color: red;
  font-weight: 700;
  padding: 5px 35px;
  border-radius: 10px;
}

.detailBtn .delete:hover{
  background-color: darkred;
}

/*mobile and tablet*/

@media only screen and (max-width: 900px) {
  .prosuctCatalogue-wrapper h1 {
    font-size: 27px;
    padding-top: 30px;
  }

  .lid-card{
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
  }

  .readBtn{
    width: 50%;
    padding: 15px 40px;
  }

  .lid-card-left p{
    font-size: 16px;
  }

  .lid-card-left h1{
    font-size: 25px;
  }
  
  .lid-card-left  button{
    padding: 10px 15px;
  }

  .lid-card-right img{
    padding: 0 0 40px 0;
  }

  .lid-top img{
    width: 300px;
    height: 400px;
  }

  .readBtn{
    width: 80%;
  }

  .lid-row{
    display: flex;
    flex-direction: column;
  }

  .probe-card{
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
  }

  .probe-card-left p{
    font-size: 16px;
  }

  .probe-card-left h1{
    font-size: 25px;
  }

  .probe-card-left  button{
    padding: 10px 15px;
  }


  .probe-card-right img{
    padding: 0 0 40px 0;
  }

  .probe-top img{
    width: 500px;
    height: 700px;
  }

  .probe-row{
    display: flex;
    flex-direction: column;
  }

  .vial-card{
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
  }

  .vial-card-left p{
    font-size: 16px;
  }

  .vial-card-left h1{
    font-size: 25px;
  }

  .vial-card-left  button{
    padding: 10px 15px;
  }

  .vial-card-right img{
    padding: 0 0 40px 0;
  }

  .vial-top img{
    width: 500px;
    height: 700px;
  }

  .vial-row{
    display: flex;
    flex-direction: column;
  }

  .detailCard img{
    width: 90%;
    margin: 0 auto;
  }

  .detailCard p{
    width: 90%;
  }
}
